In [1]:
import pandas as pd
df = pd.read_csv("HousingData.csv")

In [2]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
504,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
505,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
506,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
507,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     488 non-null    float64
 1   ZN       488 non-null    float64
 2   INDUS    488 non-null    float64
 3   CHAS     488 non-null    float64
 4   NOX      508 non-null    float64
 5   RM       508 non-null    float64
 6   AGE      488 non-null    float64
 7   DIS      508 non-null    float64
 8   RAD      508 non-null    int64
 9   TAX      508 non-null    int64
 10  PTRATIO  508 non-null    float64
 11  B        508 non-null    float64
 12  LSTAT    487 non-null    float64
 13  MEDV     508 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.7 KB

In [8]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,488.000000,488.000000,488.000000,488.000000,508.000000,508.000000,488.000000,508.000000,508.000000,508.000000,508.000000,508.000000,487.000000,508.000000
mean,3.598690,11.165984,11.067459,0.069672,0.554553,6.282844,68.519877,3.794190,9.529528,407.783465,18.462008,356.820689,12.712485,22.517126
std,8.704725,23.351811,6.827079,0.254855,0.115678,0.701839,27.941999,2.101641,8.695887,168.361697,2.163867,91.144725,7.148801,9.182367
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081437,0.000000,5.190000,0.000000,0.449000,5.884750,45.325000,2.100525,4.000000,279.000000,17.400000,375.472500,7.130000,17.075000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.205000,76.700000,3.215700,5.000000,330.000000,19.100000,391.440000,11.410000,21.200000
75%,3.543427,12.500000,18.100000,0.000000,0.624000,6.620500,93.925000,5.141475,24.000000,666.000000,20.200000,396.232500,16.950000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [10]:
df.shape

(508, 14)

In [11]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [12]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      21
MEDV        0
dtype: int64

In [23]:
df[df.isnull().any(axis=1)]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
6,0.08829,12.5,7.87,NaN,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
9,0.17004,12.5,7.87,NaN,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9
14,0.63796,0.0,8.14,NaN,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,18.2
36,0.06417,0.0,5.96,0.0,0.499,5.933,68.2,3.3603,5,279,19.2,396.90,NaN,18.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,4.64689,0.0,18.10,0.0,0.614,6.980,67.6,2.5329,24,666,20.2,374.68,NaN,29.8
481,14.33370,0.0,18.10,NaN,0.614,6.229,88.0,1.9512,24,666,20.2,383.32,13.11,21.4
484,5.73116,0.0,18.10,NaN,0.532,7.061,77.0,3.4106,24,666,20.2,395.28,7.01,25.0
503,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
507,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [25]:
df.dropna(inplace = True)

In [32]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

However droping na also leads to loss of data thus we try to replace the na coulumns with mean/median of the column

In [33]:
df = pd.read_csv("HousingData.csv")
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [37]:
df.iloc[36,:]

CRIM         0.064170
ZN           0.000000
INDUS        5.960000
CHAS         0.000000
NOX          0.499000
RM           5.933000
AGE         68.200000
DIS          3.360300
RAD          5.000000
TAX        279.000000
PTRATIO     19.200000
B          396.900000
LSTAT       12.712485
MEDV        18.900000
Name: 36, dtype: float64

In [ ]:
#now lstat also has a value

In [38]:
df[df.duplicated(keep = False)]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
17,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4,307,21.0,390.95,11.280000,18.2
20,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4,307,21.0,390.95,11.280000,18.2
36,0.06417,0.0,5.96,0.0,0.499,5.933,68.2,3.3603,5,279,19.2,396.90,12.712485,18.9
41,0.06417,0.0,5.96,0.0,0.499,5.933,68.2,3.3603,5,279,19.2,396.90,12.712485,18.9

In [39]:
df.drop_duplicates(inplace = True)

In [40]:
df[df.duplicated()]

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

In [44]:
x =df.groupby("RAD").sum()

In [45]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT,MEDV
RAD,,,,,,,,,,,,,
1,0.72057,745.331967,101.320000,1.069672,9.2578,131.117,983.859631,120.5565,5829,351.3,7785.46,163.997454,487.3
2,5.55743,490.000000,216.557459,0.000000,11.6380,159.599,1527.419877,98.3282,6256,415.0,9273.93,240.590000,644.0
3,7.19827,633.665984,172.077459,2.069672,17.1921,245.975,1873.800000,195.5667,9351,690.4,14911.88,362.667454,1061.3
4,46.87826,1579.495902,1179.999836,8.209016,55.4742,674.643,6723.379508,487.6300,36958,2105.0,42099.34,1350.277454,2352.6
5,89.21622,1302.163934,1128.962213,10.209016,65.6516,735.213,7951.839139,425.1928,38162,1902.9,42457.13,1232.224969,2956.3
6,14.37411,329.831967,213.150000,0.139344,13.3860,158.723,1563.700000,104.6478,9695,463.2,10071.53,320.622485,545.4
7,6.06282,408.331967,99.684918,0.069672,7.4970,113.012,682.400000,110.4296,5175,312.9,6603.36,135.800000,460.8
8,15.14885,150.000000,142.380000,5.000000,11.8200,166.819,1614.519877,105.8545,7230,431.4,9246.66,209.434969,728.6
24,1642.18802,33.497951,2354.037295,8.627049,88.7590,794.924,11749.479508,272.0855,87912,2666.4,38027.77,2418.334908,2165.3